<div class="header">
  <div class="logo">::Logo:Meas'd::</div>
  <div class="upper-right-menu">Logged in as: <strong>Name:</strong>
  <%= @user.name %>, <strong>Username:</strong>
  <%= @user.username %>, Help, About, Logout</div>
</div>

<div class="left-menu">Left Menu:
  <ul> Enter Dimensions:
    <li>Height:</li>
    <li>Length:</li>
    <li>Depth:</li>
  </ul>
  <ul> Furniture Objects:
    <li>Bed</li>
    <li>Chair</li>
    <li>Table</li>
    <li>Rug</li>
  </ul>
</div>
<div class="sandbox">Design Your Room:
  <br>*******************<br><br>
  <div class="svg-container"></div>
  <br>*******************
</div>
<div class="right-menu">Right Menu:
  <ul> Tools:
    <li>Draw</li>
    <li>Move</li>
    <li>Rotate</li>
    <li>Zoom</li>
  </ul>
</div>

<%= link_to 'New Layout', new_user_layout_path(@user) %>