
<h1> TEST</h1>
<div id="furniture_info">
  <form>
    <label> Selected Furniture </label><br>
    <label> Type: </label><br>
    <label> Bed </label><br>

    <label>furniture width</label>
    <input type="number" name="width" value="width">
   <label>furniture height</label>

    <input type="number" name="height" value="height">
  </form>
</div>
<div id="drawing"></div>
<div id="room_info">
  <form>
    <label>Room Dimensions</label><br><br>
    <input type="text" name="width" value="width">
    <input type="text" name="height" value="height">
  </form>
</div>

