
<h1> TEST</h1>
<div id="furniture_info">
  <form id="furniture_form">
    <label>Selected Furniture</label><br><br>
    <label>Type:</label><br>
    <label>Bed</label><br>
    <label>Width:</label><br>
    <input type="number" name="width"><br>
    <label>Length:</label><br>
    <input type="number" name="length"><br><br>
    <input type="submit">
  </form>
</div>
<div id="drawing"></div>
<div id="room_info">

  <form id="room_form">
    <label>Room Dimensions</label><br><br>
    <label>Width:</label><br>
    <input id="room_width" type="number" name="width"><br>
    <label>Length:</label><br>
    <input id="room_length" type="number" name="length"><br><br>
    <input type="submit">
  </form>
</div>
<div id="test"></div>
