// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#drawing {
  border: 1px solid red;
  height: 600px;
  width: 800px;
  float: left;
}

#furniture_info{
  border: 1px solid red;
  width: 200px;
  height: 400px;

}

#room_info{
  border: 1px solid red;
  width: 200px;
  height: 400px;
  float:right;
}
